<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Shopping cart</title>
</head>
<body>
    <div class="header">
    <h1>Shopping Cart</h1>
    </div>
    <main id="cartRows"></main>

<section class="cart-summary">

<h2 id="cartTotal">Total: ₹0</h2>

<a href="/checkout">
<button id="checkoutBtn" class="btn" type="button">
            Continue to Checkout
        </button>
        </a>

</section>

<!--script src="/js/cart-page.js" defer ></script-->
<script src="/js/cart.js" defer ></script>
</body>
</html>