<!doctype html>
<html lang="en">
    <head>
        <script src="/js/login.js" defer ></script>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="/css/auth.css">
        </head>
        <body>
            <div class="login-box">
                <h1>Login</h1>
                <form action="/login" method="POST" name="loginbox" novalidate>
                    <!-- From Uiverse.io by liyaxu123 --> 
                     <div class="form-control">
                        <input type="text" name="username" required="">
                        <label>
                            <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
                        </label>
                    </div>
                    <!-- From Uiverse.io by liyaxu123 --> 
                     <div class="form-control">
                        <input
        type="password"
        id="password"
        name="password"
        required="">

    <label>
        <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
    </label>

    <button
        type="button"
        id="togglePassword"
        class="toggle-password">

        👁

    </button>
                    </div>
                    <div class="poss">                    
                    <button type="submit">Login</button>
                    </div>
                </form>
                <div class="footer-text">
                    <p>Create account <a href="/register">Sing up.</a></p>
                </div>
                             <a href="/respass"><p>Forgot password?</p></a>
                             </div>
                             <!--a href="/test"><p>Test page</p></a-->
                             <script src="/js/passtoggle.js"></script>
                             <script src="/js/login.js" defer></script>
        </body>
        </html>                                