<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <link rel="stylesheet" href="/css/order-success.css">

    <title>Order Successful</title>

</head>

<body>

    <main>

        <h1>Order Placed Successfully</h1>

        <p>
            Thank you for your order.
        </p>

        <p id="orderId"></p>

        <div class="poss">
            <a href="/add"
    id="paymentLink"
    >
    Continue to Payment
</a>
</div>

        <a href="/">
            Continue Shopping
        </a>

        <br>

        <a href="/orders">
            View My Orders
        </a>

    </main>


    <script src="/js/order-success.js"></script>

</body>

</html>