<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRELIMINARY PAGES</title>
</head>
<body>
<section class="page cover-page">

    <h1>FPAG</h1>

    <h2>FULL-STACK E-COMMERCE WEB APPLICATION</h2>

    <h3>
        A Project Report Submitted in Partial Fulfillment
        of the Requirements for the Award of the Degree of
    </h3>

    <div class="degree">
        BACHELOR OF COMPUTER APPLICATIONS (BCA)
    </div>

    <div class="student">
        <strong>Submitted By</strong><br><br>

        { Mohamed Ayman Hassan }<br>
        { U18KG24S0107 }
    </div><br><br>

    <!--div class="student">
        <strong>Under the Guidance of</strong><br><br>

        [GUIDE NAME]<br>
        [DESIGNATION]
    </div-->

    <p class="center">
        Department of Computer Applications<br>
        { Karnataka College of Management and Science }<br>
        { Bengaluru City Univesity }
    </p>

    <p class="academic-year">
        Academic Year: 2025–2026
    </p>

</section>

<section class="page">

    <h1 class="document-title">
        Certificate
    </h1>

    <p>
        This is to certify that the project report entitled:
    </p>

    <div class="quote-title">
        “FPAG – FULL-STACK E-COMMERCE WEB APPLICATION”
    </div>

    <p>
        has been successfully completed and submitted by
        <strong>Mohamed Ayman Hassan</strong>,
        bearing <strong>U18KG24S0107</strong>,
        of the Bachelor of Computer Applications (BCA) program.
    </p>

    <p>
        The project has been developed under my guidance and
        supervision as a partial fulfillment of the requirements
        for the award of the degree of Bachelor of Computer
        Applications.
    </p>

    <div class="signature-section">

        <div class="signature-box">
            <div class="signature-line">
                Project Guide
            </div>
            Name: Mohamed Ayman Hassan
        </div>

        <div class="signature-box">
            <div class="signature-line">
                Head of Department
            </div>
            Name: Dr. Bosco Nirmala Priya
        </div>

        <!--div class="signature-box">
            <div class="signature-line">
                External Examiner
            </div>
            Name: __________________
        </div-->

    </div>

</section>

</body>
</html>