<!DOCTYPE HTML>
<HTML>
    <head>
        <script type="text/javascript">
            function dataform(){
                var username=document.forms["registration"]["username"].value;
                var email=document.forms["registration"]["email"].value;
                var password=document.forms["registration"]["password"].value;
                var re= /\S+@\S+\.\S/
                if(username==""||email==""||password==""){
                    alert("All field shod be full");
                    return false;
                }
                if (!re.test(email)){
                    alert("Wrote correct email syntax");
                    return false;
                }
                if (password.length < 6){
                    alert("Password shuod be more than 6 char");
                    return false;
                }
                alert("Registartion done successfly");
            }
        </script>
        <link rel="stylesheet" href="/css/register.css">
        <title>Register</title>
    </head>
    <body>
        <div class="regist-box">
        <h1>Sign-up</h1>
        <form name="registration" onsubmit="return dataform()">    
            <div class="form-control">
                        <input type="value" required="">
                        <label>
                           <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
                        </label>
                    </div>
                <div class="form-control">
                        <input type="gmail" required="">
                        <label>
                            <span style="transition-delay:0ms">G</span><span style="transition-delay:50ms">m</span><span style="transition-delay:100ms">a</span><span style="transition-delay:150ms">i</span><span style="transition-delay:200ms">l</span>           
                        </label>
                    </div>
                <div class="form-control">
                        <input type="password" required="">
                        <label>
                            <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
                        </label>
                    </div>
                <div class="form-control">
                        <input type="password" required="">
                        <label>
                            <span style="transition-delay:0ms">C</span><span style="transition-delay:50ms">o</span><span style="transition-delay:100ms">n</span><span style="transition-delay:150ms">f</span><span style="transition-delay:200ms">e</span><span style="transition-delay:250ms">r</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">P</span><span style="transition-delay:400ms">a</span><span style="transition-delay:450ms">s</span><span style="transition-delay:500ms">s</span><span style="transition-delay:550ms">w</span><span style="transition-delay:600ms">o</span><span style="transition-delay:650ms">r</span><span style="transition-delay:700ms">d</span>                            
                        </label>
                    </div>
            <button type="submit">Register</button>
            </form>
        </div>
</body>
</HTML>