<!DOCTYPE HTML>
<HTML>
    <head>
        <link rel="stylesheet" href="/css/auth.css">
        <title>Register</title>
    </head>
    <body>
        <script src="/js/register.js" defer></script>
        <div class="regist-box">
        <h1>Sign-up</h1>
        <form action="/register" method="POST" name="registration" novalidate>
            <div class="form-control">
                        <input type="text" name="username" placeholder=" " required="">
                        <label>
                           <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
                        </label>
                    </div>
                <div class="form-control">
                        <input type="text" name="email" id="email" placeholder=" " required="">
                        <label>
                            <span style="transition-delay:0ms">G</span><span style="transition-delay:50ms">m</span><span style="transition-delay:100ms">a</span><span style="transition-delay:150ms">i</span><span style="transition-delay:200ms">l</span>           
                        </label>
                    </div>
                <div class="form-control">
                        <input type="password" name="password" id="password" required="">
                        <label>
                            <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
                        </label>
                                        <button
        type="button"
        id="togglePassword"
        class="toggle-password">

        👁

    </button>
                    </div>
                <div class="form-control">
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder=" " required="">
                        <label>
                            <span style="transition-delay:0ms">C</span><span style="transition-delay:50ms">o</span><span style="transition-delay:100ms">n</span><span style="transition-delay:150ms">f</span><span style="transition-delay:200ms">e</span><span style="transition-delay:250ms">r</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">P</span><span style="transition-delay:400ms">a</span><span style="transition-delay:450ms">s</span><span style="transition-delay:500ms">s</span><span style="transition-delay:550ms">w</span><span style="transition-delay:600ms">o</span><span style="transition-delay:650ms">r</span><span style="transition-delay:700ms">d</span>                            
                        </label>
                        <button
        type="button"
        id="toggleconfirmpassword"
        class="toggle-password">

        👁

    </button>
                    </div>
            <button type="submit">Register</button>
            </form>
        </div>
        <script src="/js/passtoggle.js"></script>
</body>
</HTML>