<!doctype html>
<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="/css/test.css">
        </head>
        <body>
            <div class="box">
                <h1>Login-box</h1>
            <form action="/respass" name="passtoggle" novalidate>
                <div class="form-control">

    <input
        type="password"
        id="password"
        name="password"
        required="">

    <label>
        <span style="transition-delay:0ms">P</span>
        <span style="transition-delay:50ms">a</span>
        <span style="transition-delay:100ms">s</span>
        <span style="transition-delay:150ms">s</span>
        <span style="transition-delay:200ms">w</span>
        <span style="transition-delay:250ms">o</span>
        <span style="transition-delay:300ms">r</span>
        <span style="transition-delay:350ms">d</span>
    </label>

    <button
        type="button"
        id="togglePassword"
        class="toggle-password">

        👁

    </button>

</div>
                    <button type="submit">Login</button>
                </form>
                </div>
                <div class="carousel">
        <button
        class="scroll-btn prev"
        type="button">
        ←
    </button>
                <div class="cards">
                    <div class="card">
                        <img src="../public/images/m_sj.jpg">
                        </div>
                        <div class="card">
                            <img src="../public/images/m_s.jpg">
                    </div>
                    <div class="card">
                            <img src="../public/images/sh.jpg">
                    </div>
                    <div class="card">
                            <img src="../public/images/shrat.jpg">
                    </div>
                    </div>
                    <div class="cards">
                        <div class="card">
                            </div>
                        </div>
                        <button
                                class="scroll-btn next"
                                type="button">
                            
                                →
                            </button>
                        </div>                            
                <script src="/js/passtoggle.js" defer></script>
                <script src="/js/test.js" defer></script>
            </body>
            </html>