<!doctype html>
<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="../public/css/test.css">
        </head>
        <body>
            <div class="box">
                <h1>Login-box</h1>
            <form for="regist">
                <div class="box-control">
                <lable for="name">Name</lable>
                <input type="value">
                </div>
                <div class="box-control">
                    <label for="password">Password</label>
                    <input type="password">
                    </div>
                    <button type="submit">Login</button>
                </form>
                </div>
            </body>
            </html>