body{
    display:flex;
    background:gray ;
    height:100vh;
    justify-content:center;
    align-items:center;
    color:#fff;
}
.input-filed input{
    background-color: transparent;
  border: 0;
  border-bottom: 2px #667eea solid;
  display: block;
  width: 150%;
  padding: 15px 0;
  font-size: 18px;
  color: #000;
}
.input-filed input:focus{
    outline:0;
}
.poss{
    display:flex;
    justify-content:center;
    align-items:center;
}
button{
        width:100%;
    padding:12px;
    background:#4fc3f7;
    border:none;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
    psition:absolute;

}
button:hover{
    background:#29b6f6;
}