body{
  margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
  background: white;
    padding: 40px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); 
} 
.box h1{
   text-align: center;
    margin-bottom: 20px;
}
.box input{
      width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;

}
input:focus {
    border-color: #667eea;
    outline: none;
}
button {
    width: 100%;
    padding: 12px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #5a67d8;
}