* {
    margin:0;
    padding:0;
}
body{
    margin=0;
    padding;
}
.photo {
    width:100px;
    height:atuo;
    border-radius:60px;
    padding:10px;
    border:2px #fff solid;
    margin:20px
}
.header  {
    background:#8b4513;
    display:flex;
    justify-content:space-between;
    padding:10px 50px;
    align-items:center;
}
.header a {
    padding:0 30px;
    color:
    align-items:
    center;
    text-decoration:none;
    border-radius:15px;
}
.header a:hover{
    background:#fff
}