* {
    margin:0;
    padding:0;
}
body{ 
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.photo {
    width:100px;
    height:atuo;
    border-radius:60px;
    padding:10px;
    border:2px #fff solid;
    margin:20px
}
.header  {
    background:#8b4513;
    display:flex;
    justify-content:space-between;
    padding:0px 70px;
    align-items:center;
}
.header-font{
    color:#ffffff;
    font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn {
    padding:10px 15px;
    background:#ffbf00;
    margin-lef:20px;
    border-radius:20px;
    color:#ffffff;
    border:none;
}
.btn:hover{
    background:#ffd862;
}
.head a {
    padding:5px 20px;
    color:#fff;
    align-items:center;
    text-decoration:none;
    border-radius:15px;
}
.head a:hover{
    background:#b85b19;
}
.header-input button:hover{
    background:#ffd966;
}
.header-input input {
    border:none;
    padding:5px 15px;
    border-radius:20px;
}
.landing-pag {
    display:flex;
    background:#8b4513;
    justify-content:space-between;
    padding:70px 70px;
    align-items:center;
    border-radius:0 0 50px 50px;
}
.landing-pag-text{
    width: 600px;
    color:#ffffff;;
}
.landing-pag-text span{
    padding:10px 60px;
}
.landing-pag-text p {
    padding:40px 0 20px 0;
}
.landing-pag-search input{
    height:40px;
    padding:0 20px;
    border:none;
    border-radius:20px;
    outline:none;
}
.landing-pag-search{
    margin:40px 0;
}
.landing-pag-search button{
    position:absolute;
    left:230px;
    height:40px;
}
.landing-pag-photo img{
    border-radius:5px 50px;
    width:300px;
    height:auto;
}
.tranding-pag{
    padding:0px 70px;
    color:slateblue;
}
.tranding-pag-inside{
    display:flex;
    justify-content:space-between;
    padding:20px 0;
}
.cards{
padding:70px 70px;    
}
.card img{
    width:200px;
    height:auto;    
}
.card-info{
    display:flex;
}