* {
    margin:0;
    padding:0;
}
body{ 
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.photo {
    width:100px;
    height:atuo;
    border-radius:60px;
    padding:10px;
    border:2px #fff solid;
    margin:20px
}
.header  {
    background:#8b4513;
    display:flex;
    justify-content:space-between;
    padding:0px 70px;
    align-items:center;
}
.btn {
    padding:10px 15px;
    background:#ffbf00;
    margin-lef:20px;
    border-radius:20px;
    color:#ffffff;
    border:none;
}
.btn:hover{
    background:#ffd862;
}
.head a {
    padding:5px 20px;
    color:#fff;
    align-items:center;
    text-decoration:none;
    border-radius:15px;
}
.head a:hover{
    background:#b85b19;
}
.header-input button:hover{
    background:#ffd966;
}
.header-input input {
    border:none;
    padding:5px 15px;
    border-radius:20px;
}