* {
    margin:0;
    padding:0;
}
body{
    
.roboto-<uniquifier> {
  font-family: "roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    margin=0;
    padding;
}
.photo {
    width:100px;
    height:atuo;
    border-radius:60px;
    padding:10px;
    border:2px #fff solid;
    margin:20px
}
.header  {
    background:#8b4513;
    display:flex;
    justify-content:space-between;
    padding:10px 50px;
    align-items:center;
}
.head a {
    padding:5px 20px;
    color:#fff;
    align-items:center;
    text-decoration:none;
    border-radius:15px;
}
.head a:hover{
    background:#b85b19;
}
.head button:hover{
    background:#ffd966;
}
.headr-input button:hover{
    background:#ffd966;
}
.header-input input {
    border:none;
    padding:5px 15px;
    border-radius:20px;
}
.btn{
padding:5px 15px;
border-radius:15px;
border:none;
background:#ffbf00;
color:#fff;
font-size:
}
.btn:hover{
    background:#ffd966;
}