* {
    box-sizing:border-box;
    margin0=;
    padding=0;
    font-family:arial,sans-serif;
}
body {
    height:100vh;
    display:flex;
    background:linear-gradient(129deg,#e0f2ff, #fef6ff);
    justify-content:center;
    align-items:center;
}
.regist-box{
    padding:30px;
    width:400px;
    border-radius:8px;
}
.regist-box h1{
    text-algin:center;
    margin-booton:10;

}