* {
    box-sizing:border-box;
    margin0=;
    padding=0;
    font-family:arial,sans-serif;
}
body {
    height:100vh;
    display:flex;
    background:linear-gradient(129deg,#e0f2ff, #fef6ff);
    justify-content:center;
    align-items:center;
}
.regist-box{
    width:350px;
    height: auto;
    background:#2c2c;
    ackgroud:rgab(0,0,0,0.45);
    padding:30px;
    border-radius:10px;
    box-shadow:0 10px 30px rgab(0,0,0,0.4);
    position:relative;
}
.regist-box h1 {
    text-align:center;
    margin-bottom:10px;
}
.regist-box p{
    text-align: center;
    font-size: 18px;
}