* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:arial,sans-serif;
}
body{
    height:100vh;
    background:linear-gradient(120deg,#1e1e2f,#fff);
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
}
.login-box{
    width:350px;
    background:rgab(0,0,0,0.45);
    padding:30px;
    border-radius:10px;
    box-shadow:0 10px 30px rgab(0,0,0,0.4);
    position:relative;
    
}
.login-box h1{
    text-align:center;
    margin-bottom:10px;
}
.subtitle{
    text-align:center;
    font-size:14px;
    color:#ccc;
    margin-bottom:25px;
}
/*.input-group{
    margin-bottom:15px;
}
.input-group label{
    display:block:
    font-size:13px;
    margin-bottom:5px;
    color:#bbb;
}
.input-group input{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
}*/
/* From Uiverse.io by liyaxu123 */ 
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}
button{
    width:50%;
    padding:12px;
    background:#4fc3f7;
    border:none;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
    psition:absolute;

}
button:hover{
    background:#29b6f6;
}
.footer-text{
    text-align:center;
    font-size:12px;
    color:#2c2c44;
    margin-top:20px;
}